@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@font-face {
    font-family: GoodTimes;
    src: url(good-times-rg.otf);
}

* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-align: center;
    color: #000000;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #3C63D3;
}


.header {
    padding: 2rem;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 68rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header .header__profile {
    width: 18rem;
    border-radius: 100%;
    padding-right: 4rem;
    margin-left: 4rem;
}

.header__description .header__description--title {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
}

.header__description .header__description--text {
    font-size: 1.4rem;
    text-align: center;
}

section {
    margin: 0 auto;
    max-width: 68rem;
}

ul a {
    text-decoration: none;
    color: #000000;
}

/* CARDS */


.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}

.cards .cards__box {
    margin: 2.4rem;
    border-radius: .8rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}

.cards .cards__box:hover {
    transform: scale(1.05);
}

.cards__box--image {
    width: 16rem;
    height: 16rem;
    background-size: cover;
    border-radius: .8rem;
}

.cards__box--title {
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.cards__box--vab {
    background-image: url(portada-vab.png);
}

.cards__box--encadenado {
    background-image: url(portada-encadenado.png);
}

.cards__box--tomar-impulso {
    background-image: url(portada-tomar-impulso.jpg);
}

.cards__box--nada-facil {
    background-image: url(nada-facil-single.png);
}

.cards__box--sigo-creyendo {
    background-image: url(sigo-creyendo.png);
}

.cards__box--hasta-el-final {
    background-image: url(hasta-el-final.jpeg);
}

.cards__box--indestructible {
    background-image: url(indestructible.jpeg);
}

.cards__box--por-el-cielo {
    background-image: url(por-el-cielo.jpg);
}

.cards__box--ladrando {
    background-image: url(ladrando.jpeg);
}

.cards__box--youtube {
    background-image: url(youtube.png);
}

.cards__box--spotify {
    background-image: url(spotify.png);
}

.cards__box--instagram {
    background-image: url(instagram.png);
}

.cards__box--links {
    display: flex;
    justify-content: center;
    padding-bottom: .8rem;
}

.cards__box--links .links--spotify {
    background-image: url(spotify.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
    margin: 0 .8rem;
    transition: all .5s;
}

.cards__box--links .links--spotify:hover {
    background-image: url(spotify--green.svg);
}

.cards__box--links .links--youtube {
    background-image: url(youtube.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2.4rem;
    width: 2.4rem;
    margin: 0 .8rem;
    transition: all .5s;
}

.cards__box--links .links--youtube:hover {
    background-image: url(youtube--red.svg);
}

.cards__box--links .links--instagram {
    background-image: url(instagram.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2.4rem;
    width: 2.4rem;
    margin: 0 .8rem;
    transition: all .5s;
}

.cards__box--links .links--instagram:hover {
    background-image: url(instagram--violet.svg);
}

.footer {
    max-width: 68rem;
    margin: 0 auto;
    padding: 2.4rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-size: 1.4rem;
    color: #FFFFFF;
}

.lanzamientos {
    background-color: #FFFFFF;
}

.lanzamientos h2 {
    font-family: 'GoodTimes', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #c200c2;
    color: #FFFFFF;
    text-shadow: .3rem .3rem #0f0f0f;
}

.lanzamientos__img {
    width: 100%;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 0;
    transition: all .5s;
}

.lanzamientos__img:hover {
    opacity: .8;
}

.lanzamientos__container {
    text-align: center;
    margin-top: 2.4rem;
}

@media (max-width: 700px) {
    .header .header__profile {
        width: 14rem;
        margin-bottom: 1.2rem;
        padding-right: 3rem;
        margin-left: 3rem;
    }

    .header .header__description--title {
        font-size: 3rem;
    }

    .cards .cards__box {
        margin: 1.4rem 0;
    }

    .cards {
        background-color: #3C63D3;
    }

    .lanzamientos__img {
        padding: 0;
    }

    .lanzamientos a {
        background-color: #3C63D3;
    }

    .lanzamientos h2 {
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}


.header__description--redes .links--instagram {
    background-image: url(instagram--white.svg);
    background-repeat: no-repeat;
    text-indent: -99999px;
    width: 1.6rem;
    background-size: contain;
}

.header__description--redes .links--twitter {
    background-image: url(twitter--white.png);
    background-repeat: no-repeat;
    width: 1.6rem;
    text-indent: -99999px;
    background-size: contain;
}

.header__description--redes .links--tiktok {
    background-image: url(tiktok--white.png);
    background-repeat: no-repeat;
    text-indent: -99999px;
    width: 1.6rem;
    text-indent: -99999px;
    background-size: contain;
}

.header__description--redes .links--spotify {
    background-image: url(spotify--white.svg);
    background-repeat: no-repeat;
    text-indent: -99999px;
    width: 1.6rem;
    background-size: contain;
}

.header__description--redes .links--youtube {
    background-image: url(youtube--white.svg);
    background-repeat: no-repeat;
    text-indent: -99999px;
    width: 1.6rem;
    background-size: contain;
}

.header__description--redes .links--twitch {
    background-image: url(twitch--white.png);
    background-repeat: no-repeat;
    width: 1.6rem;
    text-indent: -99999px;
    background-size: contain;
}


.header__description--redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    margin-top: 1.4rem;
}
